<article class="card">
  <div class="card-header">
    <a href="/post/{{id}}" class="btn-back">{{title}}</a>
    <div>
      <p style="font-size: 75%;">
        {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}} |
        {{comments.length}} {{format_plural "comment" comments.length}}
      </p>
    </div>
    <p class="card-body">"{{blog}}"</p>
</article>