<section>
  <form class="card form-input new-post-form" id="post-form" style="display: none;">
    <h2 class="card-header" style="margin: 0;">Create New Post</h2>
    <div class="card-body">
      <div>
        <label for="post-title" style="display: block;">Blog Title</label>
        <textarea class="form-textarea" type="text" id="post-title" name="post-title"></textarea>
      </div>
      <div>
        {{!-- <label for="post-url">Link</label>
        <input id="post-url" name="post-url" /> --}}
        <label for="blog">Blog Post Content...</label>
        <textarea class="blog-textarea" type="text" id="blog" name="blog"></textarea>
      </div>
      <button type="submit" class="btn">Create</button>
    </div>
  </form>
</section>
<button type="submit" id="new-post" class="btn">+ New Post</button>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol class="list-group">
    {{#each posts as |post|}}
    <li>
      {{!-- {{> post-info post}} --}}
      <article class="card">
        <div class="card-header">
          <a href="/dashboard/edit/{{post.id}}" class="btn-back">{{title}}</a>
          <div>
            <p style="font-size: 75%;">
              {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}} |
              {{comments.length}} {{format_plural "comment" comments.length}}
            </p>
          </div>
          <p class="card-body">"{{blog}}"</p>
      </article>
      {{!-- <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a> --}}
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>